/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  swcMinify: true,
  env: {
    GOOGLE_CLIENT_ID: '',
    GOOGLE_CLIENT_SECRET: '',
    V1_API_ENDPOINT: 'http://127.0.0.1:8000/api/v1',
    SECRET: 'MYSECRET' // can get secret from here : https://generate-secret.vercel.app/64
  }
}

module.exports = nextConfig
